.questions_list,
.slider_holder {
    margin-top: 25px
}

.bg-holder {
    background-image: url('/static/askp/images/bg-photo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    padding-top: 50px;
    margin-bottom: 15px
}

.questions_found .one:hover,
.sort-panel a.btn.active,
.sort-panel a.btn.active:hover,
.sort-panel a.btn:hover {
    background: #007fa3;
    color: #fff
}

@media (max-width:750px) {
    .bg_holder {
        height: 450px
    }
}

@media (max-width:550px) {
    .bg_holder {
        height: 350px
    }
}

@media (max-width:400px) {
    .bg_holder {
        height: 280px
    }
}

.question.has-feedback .form-control {
    border: 1px solid #007fa3;
    font-size: 22px;
    height: 50px;
    color: #000
}

.question.has-feedback .form-control-feedback {
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #007fa3
}

.question.has-feedback .form-control-feedback:hover {
    cursor: pointer
}

.sort_holder {
    padding: 0 20%
}

.sort-panel {
    text-transform: uppercase
}

.sort-panel a.btn {
    font-weight: 700;
    color: #007fa3;
    border-color: #007fa3
}

@media (max-width:750px) {
    .sort-panel a.btn {
        width: 100%;
        float: none;
        display: block;
        border-radius: 4px!important;
        margin-bottom: 10px
    }
}

.questions_found {
    width: 100%;
    padding: 0;
    border: 1px solid #007fa3
}

.questions_found .one {
    border-bottom: 1px #cdcdcd solid;
    padding: 10px 5px
}

.questions_found .one .title {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
}

.title a {
    color: #3c4245;
}

.questions_found .one .subtitle {
    font-size: 12px;
    color: #3b838d;
    margin-bottom: 0
}

.questions_found .one .subtitle .minutes,
.questions_found .one .subtitle .number {
    padding-right: 3px
}

.questions_found .one:first-child {
    border-top: none
}

.questions_list .one {
    border-bottom: 1px #cdcdcd solid;
    padding: 10px 5px
}

.questions_list .one:first-child {
    border-top: 1px #cdcdcd solid
}

.questions_list .one .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.questions_list .one .subtitle {
    font-size: 12px;
    color: #3b838d;
    margin-bottom: 0
}

.questions_list .one .subtitle .minutes,
.questions_list .one .subtitle .number {
    padding-right: 3px
}

.slider_holder {
    padding: 0;
    margin-bottom: 100px
}

@media (min-width:550px) {
    .slider_holder {
        padding: 0 10%
    }
}

@media (min-width:750px) {
    .slider_holder {
        padding: 0 13%
    }
}

.slider_holder .last-slide,
.slider_holder .text-slide,
.slider_holder iframe {
    height: 350px
}

@media (min-width:550px) {
    .slider_holder .last-slide,
    .slider_holder .text-slide,
    .slider_holder iframe {
        height: 380px
    }
}

@media (min-width:1000px) {
    .slider_holder {
        padding: 0 20%
    }
    .slider_holder .last-slide,
    .slider_holder .text-slide,
    .slider_holder iframe {
        height: 400px
    }
}

.slider_holder #carousel-example-generic {
    height: 400px
}

@media (min-width:550px) {
    .slider_holder #carousel-example-generic {
        height: 430px
    }
}

@media (min-width:1000px) {
    .slider_holder #carousel-example-generic {
        height: 450px
    }
}

.slider_holder .carousel-caption {
    position: initial;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    z-index: 1000;
    background: #fff
}

.slider_holder .carousel-caption h3,
.slider_holder .carousel-caption p {
    color: #000;
    text-shadow: none;
    margin-top: 0
}

.slider_holder .carousel-control.left,
.slider_holder .carousel-control.right {
    background-image: none
}

.slider_holder .last-slide {
    width: 100%;
    background: #f30;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 30% 35px
}

.slider_holder .last-slide h3 {
    font-size: 18px
}

@media (min-width:400px) {
    .slider_holder .last-slide {
        padding: 25% 45px
    }
}

@media (min-width:550px) {
    .slider_holder .last-slide h3 {
        font-size: 20px
    }
}

@media (min-width:1000px) {
    .slider_holder .last-slide {
        padding: 150px 50px
    }
    .slider_holder .last-slide h3 {
        font-size: 24px
    }
}

.slider_holder .last-slide .btn-default {
    color: #f30;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px
}

.slider_holder .text-slide {
    padding: 15px 5%;
    background: #007fa3;
    color: #fff;
    overflow-y: auto
}

@media (min-width:400px) {
    .slider_holder .text-slide {
        padding: 20px 10%
    }
}

@media (min-width:550px) {
    .slider_holder .text-slide {
        padding: 25px 15%
    }
}

@media (min-width:1000px) {
    .slider_holder .text-slide {
        padding: 25px 100px
    }
}

.slider_holder .text-slide p {
    font-size: 16px
}

.slider_holder .text-slide p.source {
    font-size: 12px
}

.slider_holder .text-slide a {
    color: #fff;
    text-decoration: underline
}

.question-pos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.question-pos-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
  border-radius: 10px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross-button-mod {
    position: absolute; width: 24px; height: 24px; right: 8px; top: 8px;
}

.bm-cross-button button {
    top: 16px !important;
    left: -25px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    top: 10px !important;
    right: 21px !important;
    background: #000;
    height: 24px !important;
    width: 4px !important;
    border-radius: 10px;
}

.bm-cross-line {
    position: absolute;
    top: 6px;
    right: 14px;
}

.bm-cross-line-ch-1,
.bm-cross-line-ch-2 {
    position: absolute;
    width: 3px;
    height: 14px;
    transform: rotate(45deg);
}

.bm-cross-line-ch-2 {
    transform: rotate(-45deg);
}

.bm-cross-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    text-indent: -9999px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 4.0em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 1.0em 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#slide .bm-menu, #stack .bm-menu, #reveal .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list a {
    padding: 0.6em;
    font-weight: 700;
}

.bm-menu a {
    color: #000;
}

.bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
}

.bm-item-list div[tabindex="-1"] {
    height: 100%;
}

.login-modal {
    color: #000;
    margin: 70px 0;
}

div.loging-svg {
    margin: 50px 0;
}

div.loging-svg div {
    display: inline-block;
    margin-right: 35px;
}

div.loging-svg div:last-child {
    margin-right: 0 ;
}
