.nav-style {
    display: block;
    clear: both;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;

    background-color: #fff;
    visibility: visible;
    opacity: 1;

    transition-duration: .2s;
}
