<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Сервис вопросов</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="/static/askp/images/icon.ico" type="image/x-icon">

    <!-- <script type="text/javascript" src="config.js"></script> -->
</head>
<body>
    <div id='mount-point'></div>

    <script type="text/javascript">
        window.global_app_config = {{ config_data|safe }};
        window.global_preload_data = {{ global_preload_data|safe }};
    </script>
    <script type="text/javascript" src="/static/askp/js/bundle.js"></script>
</body>
</html>
