asgi-redis==1.4.2
asgiref==1.1.2
attrs==17.2.0
autobahn==17.7.1
Automat==0.6.0
certifi==2017.7.27.1
channels==1.1.6
chardet==3.0.4
constantly==15.1.0
cryptography==1.7.1
daphne==1.3.0
Django==1.11.4
django-redis==4.8.0
enum34==1.1.6
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
ipaddress==1.0.17
keyring==10.3.1
keyrings.alt==2.2
msgpack-python==0.4.8
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pytz==2017.2
pyxdg==0.25
redis==2.10.5
requests==2.18.3
SecretStorage==2.3.1
six==1.10.0
Twisted==19.7.0
txaio==2.8.1
urllib3==1.22
zope.interface==4.4.2
django-allauth==0.33.0
django-polymorphic==1.3